<h1>Welcome to Oulu Open Hack 2019!</h1>
<p>
  That’s it, we received your confirmation to join Oulu Open Hack. The event will take place in <a href="https://www.google.com/maps/place/Business+Kitchen/@65.0586471,25.4636382,17z/data=!3m1!4b1!4m5!3m4!1s0x468032aff35588bd:0x469328f2f3f8001f!8m2!3d65.0586471!4d25.4658268
">Business Kitchen Tellus</a>.
</p>
<p>
  Here’s a TLDR:
</p>
<p>
  ⏳ 24 hours of hacking starts on Friday 26.4. at 18.00 with an opening ceremony
</p>
<p>
  ☕️ You will be properly nourished during the event with food, snacks and drinks provided by industry sponsors
</p>
<p>
  🎉 The hacking ends on Saturday 27.4. at 17.00 with voting and proper celebrations
</p>
<p>
  Keep yourself updated on latest news by following ouluopenhack.org, and If you have any special dietary requests, send us an email at <a href="mailto:makers@ouluopenhack.org"><code>makers@ouluopenhack.org</code></a>.
</p>
<p>
  ps. Remember to join <a href="https://t.me/joinchat/APsWWw7qFCcru4mPGtxxmQ">Oulu Tech Scene</a> telegram group -- In case of cancellations or questions, don't hesitate to email us back.
</p>
</p>
<p>
  Oulu Open Hack 26.-27.04.2019<br>
  Business Kitchen Tellus, University of Oulu<br>
  <a href="https://ouluopenhack.org">ouluopenhack.org</a><br>
</p>

<p>
------------------------------------------------------------------------<br>
Your team token is<br>
<pre><%= @team_token %></pre><br>